{% extends 'myapp/base.html' %}

{% block title %}
    Users
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Our Players</h1>
    {% if users %}
        <ul class="list-group">
            {% for user in users %}
                <li class="list-group-item">
                    <!-- Make the user's nickname clickable -->
                    <a href="{{ user.get_profile_link }}">{{ user.nickname }}</a>
                    <br>
                    <span class="text-muted">Full name: {{ user.first_name }} {{ user.last_name }}</span>
                    <br>
                    <span class="text-muted">Email: {{ user.email }}</span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-center">No users found.</p>
    {% endif %}
</div>
{% endblock %}
